<article class="modal-card" data-action="{{id}}">
    <div class="cardItem-image">
        <img class="image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}"
            onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';" />
    </div>
    <div class="cardItem-wrapper">
        <h2 class="cardItem-name">{{title}}</h2>
        <table class="table-style">
            <tr>
                <td class="cardItem-text">Vote / Votes</td>
                <td><span class="vote-average">{{vote_average}}</span>/<span class="vote-count">{{vote_count}}</span>
                </td>
            </tr>
            <tr>
                <td class="cardItem-text">Popularity</td>
                <td>{{popularity}}</td>
            </tr>
            <tr>
                <td class="cardItem-text">Original Title</td>
                <td class="cardItem-title-data">{{original_title}}</td>
            </tr>
            <tr>
                <td class="cardItem-text">Genre</td>
                <td class="cardItem-genreList">{{#each genres}} {{name}}{{#unless @last}},{{/unless}}{{/each}}</td>
            </tr>
            <td class="cardItem-text">Trailer</td>
            <td><button class="youtube"></button></td>
        </table>
        <p class="cardItem-about">About</p>
        <p class="cardItem-description">
            {{overview}}
        </p>
        <div class="modal-buttons">
            <button type="button" class="modal-button">WATCHED</button>
            <button type="button" class="modal-button">QUEUE</button>
        </div>
    </div>
</article>