{{#each this}}
<li class="movies-item" data-action='{{id}}'>
  <a href="{{homepage}}" rel="noopener noreferrer">
    <article>
      <div class="movies-poster">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}" width="100%"
          data-id="{{id}}" />
      </div>
      <div class="info">
        <h2 class="info-title">{{title}} {{name}}</h4>
          <p class="info-text">
            <span class="info-text__genre">{{#each genres}} {{name}}{{#unless @last}},{{/unless}}{{/each}} |
              {{release_date}}</span>
            <span class="info-text__rating">{{vote_average}}</span>
          </p>
      </div>
    </article>
  </a>
</li>
{{/each}}